/* First Assignment */ 
div.parent .child .title{       
     /*                      
        you specifiy that the div called parent which 
        contains an element whose class = child
        which contains an element whose class = title
    */
    color: red;
}

div.parent span{
    color: blue;
}

div.parent p, /* you can choose more than one element to style using commas to seperate them where each element is on a seperate line*/
div.title
{
    color: green;
}
/*----------------------------------------------------------------------------*/

/* Second Assignment */
.one,
.two,
.three,
.four{
    background-color: maroon;
    color: white;
    padding: 20px;
    margin: 50px;

    /* extends as the content is increased in length*/
    width:fit-content;
}

.four{
    width: 325px;
    height: 10px;
    
    /* hides the content (vertical) which goes beyond the height of the div. */
    overflow-y: hidden;

}
/*----------------------------------------------------------------------------*/